<!-- Tech Stack -->

<section class="colored-section">
  <div>
    <div id="Contact" class="contact-me">
      <h1 class="big-headingServ1-Y">First step, open a free account, with a licensed broker!</h1>
      <a href="https://fbs.partners?ibl=793823&ibk=SmartPartner">
        <img class="Tech-logo" src="images/ICONS/png/FBS-Broker-trusted.png" alt="FBS trusted partner"></a>
      <h3 class="subheading1Serv-Y">Contact us with your requirements.</h3>
      <a type="button" href="/ContactUS" class="btn btn-primary">Contact us</a>
    </div>

  </div>
  <!-- Footer -->
  <footer id="footer">
    <div class="container-fluid">
      <% function getDate() {%>
        <%let date=new Date()%>
          <%return date.getFullYear();%>
            <%} %>
              <p class="card-aboutUs">© Copyright <%=getDate()%> Ntokozo Consult</p>
    </div>
  </footer>
</section>
</body>

</html>
<!-- This is a partial of the footer present on all documnets -->