<!-- Tech Stack -->

<section class="colored-section">
  <div>
    <div id="Contact" class="contact-me">
      <h1 class="big-headingServ1-Y">Try us!</h1>
      <a href="https://fbs.partners?ibl=793823&ibk=SmartPartner">
        <img class="Tech-logo" src="images/ICONS/png/FBS-Broker-trusted.png" alt="FBS trusted partner"></a>
      <h3 class="subheading1Serv-Y">Contact us with your requirements.</h3>
      <a type="button" href="/ContactUS" class="btn btn-primary">Contact us</a>
    </div>

  </div>
  <!-- Footer -->
  <footer id="footer">
    <div class="container-fluid">
      <% function getDate() {%>
        <%let date=new Date()%>
          <%return date.getFullYear();%>
            <%} %>
              <p class="card-aboutUs">© Copyright <%=getDate()%> Ntokozo Consult</p>
    </div>
    <a href="https://www.flaticon.com/free-animated-icons/stock-market" title="stock market animated icons">Stock market
      animated icons created by Freepik - Flaticon</a>
    <a href="https://www.flaticon.com/free-animated-icons/letter" title="letter animated icons">Letter animated icons
      created by Freepik - Flaticon</a>
      <a href="https://www.flaticon.com/free-icons/silver" title="silver icons">Silver icons created by Nsit - Flaticon</a>
      <a href="https://www.flaticon.com/free-icons/gold-badge" title="gold badge icons">Gold badge icons created by Md Tanvirul Haque - Flaticon</a>
      <a href="https://www.flaticon.com/free-icons/premium" title="premium icons">Premium icons created by Freepik - Flaticon</a>
  </footer>
</section>
</body>

</html>
<!-- This is a partial of the footer present on all documnets -->