<%- include("./Partials/Header") %>
  <title>NTOKOZO CONSULT &#8211; About</title>
  <!--Absolute SEO*-->
  <meta name="description"
    content="Our mission is to empower Barista101s with the knowledge and skills they need to make delicious and consistent espresso-based coffees like cappuccinos, lattes, mochas, and chai. With over 30 years of experience in the coffee industry, our team is dedicated to sharing our expertise and training the next generation of Barista101s. We use only the best products, such as Espresso Roma coffee and Melt'd powders products, to ensure our trainees are equipped with the tools they need to succeed. Upon completion of our one-day basic Barista101 course, trainees will receive a Certificate of attendance  and will have the confidence to apply for food and coffee positions. ">
  <meta name="keywords" content="Certificate of attendance, Barista, Barista101">
  <meta name="robots" content="index, follow" />
  <!--Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-214016625-1">
  </script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-214016625-1');
  </script>
  </head>

  <body>

    <!-- Title -->
    <section class="colored-section-t" id="title">

      <!-- Nav Bar -->
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/About">NTOKOZO CONSULT</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link " href="/Home">Home</a><!-- need to configure home link -->
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/About">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/ContactUS">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="container-fluid">
        <div class="row r-t">
          <div class="col-lg-12 col-md-12 title-content">
            <div class="title-container">
              <h3 class="subheading1">LEARN MORE ABOUT US.</h3>
              <h1 class="big-heading">About Ntokozo Consult.</h1>
              <a type="button" href="#learn" class="btn btn-primary">learn more</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="colored-section" id="learn">

      <div style="text-align:Left" class="row">
        <div class="col-lg-8 col-md-12 col-sm-12">
          <div class="card c-about">
            <div class="card-body">
              <h1 class="big-headingServ1-Y">Who are we?</h1>
              <p class="c-about">
                <br /><strong>Vision, Approach, and Mission</strong><br />
                At Ntokozo Consult, we are passionate about financial education and empowering our clients. Our vision is to spread the mindset of financial freedom through comprehensive training and consulting services. We negotiate with subject experts and foster meaningful relationships between clients and service providers, ensuring trust, transparency, and mutual benefit. Our mission is to guide clients towards informed decisions aligned with their financial growth goals.
                <br /><br /><strong>Customer Centricity and Financial Freedom</strong><br />Understanding that each client’s journey is unique, we prioritize personalized service. Listening attentively to individual objectives, preferences, and concerns, we believe our success is measured by the success of those we serve. Our ultimate goal is to help clients achieve financial freedom—where they control their finances rather than being controlled by them.<br /><br /><strong>Trusted Partners - FBS Brokers</strong><br />In pursuit of excellence, we collaborate with trained and trusted partners like FBS Brokers. With FBS, we ensure access to reliable trading platforms, where efficiency meets innovation for optimal client outcomes.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12">
          <div class="card bg-transparent">
            <div class="card-body">
              <form style="color:#17201B;" class="aboutEmail" action="mail" method="post">
                <h1 class="big-headingServ2-Y">Email us:</h1>
                <div class="mb-3">

                  <div id="emailHelp" style="color:#17201B;" class="c-about">Send us your Query and we will respond
                    back to you.</div>
                  <br />
                  <label for="FormControlInput1" class="form-label"><strong>Email address:</strong> </label>
                  <input name="MailAddress" type="email" class="form-control" id="FormControlInput1"
                    placeholder="name@example.com">
                </div>
                <div class="mb-3">
                  <label for="FormControlInput2" class="form-label"><strong>Name & Subject:</strong></label>
                  <input name="MailSubject" type="text" class="form-control" id="FormControlInput2"
                    placeholder="Name: Subject">
                </div>
                <div class="mb-3">
                  <label for="FormControlTextarea1" class="form-label"><strong>Message:</strong></label>
                  <textarea name="Mailbody" class="form-control" id="FormControlTextarea1" rows="4"></textarea>
                </div>
                <div class="col-auto">
                  <button type="submit" name="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <%- include("./Partials/footer") %>