<%- include("./Partials/Header") %>
  <title>NTOKOZO CONSULT &#8211; About</title>
  <!--Absolute SEO*-->
  <meta name="description"
    content="Vision, Approach, and Mission. At Ntokozo Consult, we are passionate about financial education and empowering our clients. Our vision is to spread the mindset of financial freedom through comprehensive training and consulting services. We negotiate with subject experts and foster meaningful relationships between clients and service providers, ensuring trust, transparency, and mutual benefit. Our mission is to guide clients towards informed decisions in acquiring financial and entrepreneurship knowledge. ">
  <meta name="keywords" content="Trading, Forex, Foreign Exchange">
  <meta name="robots" content="index, follow" />
  <!--Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-214016625-1">
  </script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-214016625-1');
  </script>
  </head>

  <body>

    <!-- Title -->
    <section class="colored-section-t" id="title">

      <!-- Nav Bar -->
      <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/About">NTOKOZO CONSULT</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link " href="/Home">Home</a><!-- need to configure home link -->
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/About">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/ContactUS">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="container-fluid">
        <div class="row r-t">
          <div class="col-lg-12 col-md-12 title-content">
            <div class="title-container">
              <h3 class="subheading1">LEARN MORE ABOUT US.</h3>
              <h1 class="big-heading">About Ntokozo Consult.</h1>
              <a type="button" href="#learn" class="btn btn-primary">learn more</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="colored-section" id="learn">

      <div style="text-align:Left" class="row">
        <div class="col-lg-8 col-md-12 col-sm-12">
          <div class="card c-about card-intro">
            <div class="card-body">
              <h1 class="big-headingServ1-Y">Who are we?</h1>
              <p class="c-about">
                <br /><strong>Vision, Approach, and Mission</strong><br />
                At Ntokozo Consult, we are passionate about financial education and empowering our clients. Our vision is to spread the mindset of financial freedom through comprehensive training and consulting services. We negotiate with subject experts and foster meaningful relationships between clients and service providers, ensuring trust, transparency, and mutual benefit. Our mission is to guide clients towards informed decisions in acquiring financial and entrepreneurship knowledge.
                <br /><br /><strong>Customer Centricity and Financial Freedom</strong><br />Understanding that each client’s journey is unique, we prioritize personalized service. Listening attentively to individual objectives, preferences, and concerns, we believe our success is measured by the success of those we serve. Our ultimate goal is to help clients achieve financial freedom—where they control their finances rather than being controlled by them.<br /><br /><strong>Trusted Partners - licenced Brokers</strong><br />In pursuit of excellence, we collaborate with licensed and trusted brokers as partners. With our partners, we ensure access to reliable trading platforms, where efficiency meets innovation for optimal client outcomes.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12">
          <div class="card bg-transparent">
            <form action="mail" method="post">
              <div class="mb-3">
                <h1>Email us:</h1>
                <div id="emailHelp" class="c-about">Send us your Query and we will respond back to you.
                </div>
                <br />
                <label for="exampleInputEmail1" class="c-about"><strong>Email address:</strong> </label>
                <input name="MailAddress" type="email" class="form-control" id="exampleFormControlInput1"
                placeholder="name@example.com" rows="1" required>
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="c-about"><strong>Name &
                  Surname:</strong></label>
                <input name="MailFullname" class="form-control" id="exampleFormControlInput" type="text"
                class="form-control" id="exampleFormControlInput1" placeholder="Full Name" rows="1" required>
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="c-about"><strong>Phone:</strong></label>
                <input name="MailPhone" class="form-control" id="exampleFormControlInput" type="text"
                class="form-control" id="exampleFormControlInput1" placeholder="Phone number" rows="1" required>
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="c-about"><strong>Have you traded before?</strong></label>
                <select name="MailTrade" class="form-select" aria-label="Default select example" required>
                <option selected>Please choose an answer</option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="c-about"><strong>How much do you plan to
                  spend?</strong></label>
                <input name="MailAmount" class="form-control" id="exampleFormControlInput" type="number"
                class="form-control" id="exampleFormControlInput1" placeholder="R" rows="1" required>
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="c-about"><strong>How many years have you traded?</strong></label>
                <select name="MailYears" class="form-select" aria-label="Default select example" required>
                <option selected>Please choose an answer</option>
                <option value="Traded more than 3 years">More than 3 years</option>
                <option value="Traded less than 3 years">Less than 3 years</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="c-about"><strong>What type of trading are you interested in?</strong></label>
                <select name="TradingInterest" class="form-select" aria-label="Default select example" required>
                <option selected>Please choose an answer</option>
                <option value="wants to learn trading basics">Basics of trading</option>
                <option value="wants to learn advanced trades where they take trades themselves">Advanced trades where I take trades myself?</option>
                <option value="Wants to use EA or automated trades">Im interested in using an EA (robot) to trade for me</option>                    
                <option value="wants to learn all of the above">Im interested in all of the above</option>
                </select>
              </div><div class="mb-3">
                <label for="startDate" class="c-about"><strong>When were you planning on starting to trade?</strong></label>
            <input name="StartDate" id="startDate" class="form-control" type="date" required/>
            <span id="startDateSelected"></span>
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="c-about"><strong>Why do you want to trade?</strong></label>
                <select name="MailReason" class="form-select" aria-label="Default select example" required>
                <option selected>Please choose an answer</option>
                <option value="wants to learn trading basics">lost money before and need new strategy</option>
                <option value="wants to learn advanced trades where they take trades themselves">Want to gain serious financial knowledge</option>
                <option value="Wants to use EA or automated trades">Do not have time and need EA support</option>                    
                </select>
              </div>
              <div class="mb-3">
                <label for="exampleFormControlTextarea1"
                class="c-about"><strong>Message:</strong></label>
                <textarea name="Mailbody" class="form-control" id="exampleFormControlTextarea1"
                rows="6"></textarea>
              </div>
              <div class="col-auto">
                <button type="submit" name="submit" class="btn btn-primary">Submit</button>
              </div>
              </form>
          </div>
        </div>
      </div>
      <%- include("./Partials/footer") %>