<%- include("./Partials/Header") %>
  <title>NTOKOZO CONSULT &#8211; Home</title>
  <!--Absolute SEO*-->
  <meta name="description"
    content="Empower Your Trading Skills with Our Expertly Curated Courses: Ready to elevate your trading game? Our meticulously designed courses, crafted by industry leaders, cater to all levels of expertise. Whether you’re a novice seeking foundational understanding or an experienced trader fine-tuning your strategies, our comprehensive offerings have got you covered. Join our exclusive forums, gain access to VIP events, and explore an extensive resource library. Plus, receive real-time market indicators directly on your phone. Partner with us for trusted guidance and success in the dynamic world of trading! 🚀📈">
  <meta name="keywords" content="Trading, Training courses, Financial freedom">
  <meta name="robots" content="index, follow" />
  <!--Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-214016625-1">
  </script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-214016625-1');
  </script>
  </head>

  <body>

    <!-- Title -->
    <section class="colored-section-t" id="title">

      <!-- Nav Bar -->
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/About">NTOKOZO CONSULT</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active " id="Home" href="/Home">Home</a><!-- need to configure home link -->
              </li>
              <li class="nav-item">
                <a class="nav-link" id="About" href="/About">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="Contact" href="/ContactUS">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- Absolute Online -->
      <div class="container-fluid">
        <div class="row r-t">
          <div class="col-lg-12 col-md-12" style="width: 45%; margin-left: auto; margin-right: auto;">
            <img class="title-image" src="images/ICONS/png/NC-logo-rounded-soft.png" alt="Art" title="Art">
          </div>
          <div class="col-lg-12 col-md-12 title-content">
            <div class="title-container">
              <P class="subheading1">HIGH-TECH, HIGH TOUCH: WHERE ALGORITHMS DANCE WITH EMPATHY</P>
              <h1 class="big-heading">Welcome to Ntokozo Consult!</h1>
              <a type="button" href="/ContactUS" Contact class="btn btn-primary">learn more</a>
            </div>
          </div>

        </div>
      </div>
    </section>


    <!-- About section -->

    <section class="colored-section">
      <h1 class="subheadingbody">About us</h1>

      <div class="row">
        <div class="col-lg-4 col-sm-12">          
          <div class=" card ">
          <div class="container-fluid">
            <div class="card-body">
              <h2 class="big-headingServ1-Y">Vision</h2>
              <p class="c-about">To spread the mindset of financial freedom through training and consulting.
              </p>
            </div>
          </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-12">
          <div class=" card">
            <div class="card-body">
              <h2 class="big-headingServ1-Y">Approach</h2>
              <p class="c-about">We negotiate with subject experts and foster meaningful relationships between
                clients and service providers.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-12">
          <div class=" card">
            <div class="card-body">
              <h1 class="big-headingServ1-Y">Mission</h1>
              <p class="c-about">We are information providers. We research current trends and inform our
                audience and clients.</p>
            </div>
          </div>
        </div>
      </div>
      <p class="subheading1-Y">learn more about our Vision, Approach, and Mission.</p>
      <a type="button" href="/About" class="btn btn-primary">learn more</a>
    </section>

    <!-- Services section -->
    <section class="colored-section">
      <h1 class="subheadingbody">Training courses</h1>
      <div class="row">
        <div class="col-lg-5 col-md-4 col-sm-12">
          <img src="images/Products/analytics.gif" class="card-img-top" alt="Trading" id="service">
        </div>
        <div class="col-lg-7 col-md-8 col-sm-12">
          <div class="card bg-transparent">
            <div class="card-body serv">
              <p class="subheading1Serv">Introducing our almighty courses!</p>
              <h2 class="big-headingServ1">Market leading solutions.</h2>
              <h3 class="big-headingServ2">Market leading trainers.</h3>
              <p class="c-about">Empower your trading skills with our expertly curated courses – designed by market leaders for market leaders. Whether you’re a beginner seeking foundational insights, an advanced trader refining your strategies, or a corporate entity aiming for optimized market performance, our comprehensive offerings have you covered. Gain unparalleled access to exclusive forums, VIP events, and an extensive library of resources that will elevate your trading game. Our commitment goes beyond training; we provide direct-to-phone indicators ensuring you’re always ahead of the curve. Partnering with EA solutions’ recommended experts ensures you’re backed by trusted professionals dedicated to your success.
              </p>
            </div>
          </div>
        </div>
      </div>
      <a href="/About" class="btn btn-primary">Learn more</a>
    </section>
    <!-- Video section and letter -->
    <section class="colored-section">
      <p class="subheading1Serv-Y">A passionate letter from us to you!</p>
      <div class="row">
        <div class="col-lg-12 col-sm-12">
          <div class="card bg-transparent">
            <h4 class="big-headingServ1-Y">Ignite Your Financial Freedom with Ntokozo Consult</h4>
            <div class="card-body serv">
              <p class="c-about">Are you tired of feeling trapped in the relentless rat race? Do you yearn for a future where you have control over your time and financial destiny? At Ntokozo Consult, we’re not just another financial service provider. Our passion lies in empowering you to achieve true financial freedom and unlock the incredible possibilities that await.

                Our market-leading mentoring programs are meticulously designed to equip you with the knowledge and confidence needed to navigate the ever-changing landscape of finance. But we don’t stop there. We go beyond traditional approaches by integrating powerful, automated solutions—our Expert Advisors (EAs)—to streamline your trading experience and maximize your potential.
                
                Let’s be clear: Ntokozo Consult does not claim to be a financial advisor. We recognize that trading inherently involves risk. However, armed with the right tools, expert guidance, and a commitment to continuous learning, you can forge a secure and prosperous financial future.
                
                Join us on this journey toward financial empowerment. Together, we’ll navigate the complexities of the financial world and pave the way for your success. 🌟💪.</p>
              <p class="c-about">Here's what sets us apart:</p>

              <ul class="c-about">
                <li><strong>Market-Leading Mentorship:</strong> Our expert mentors go beyond
                  theory, providing real-world strategies and ongoing support to fuel your financial journey.</li>
                <li><strong>Cutting-Edge Technology:</strong> Our 85% accurate EA solutions
                  automate tasks, streamline your trading, and give you back valuable time</li>
                <li><strong>Empowerment, Not Empty Promises:</strong> We focus on equipping you
                  with the knowledge and skills to be an informed and confident trader.</li>
              </ul>
              <p class="c-about" style="font-weight: bold;">Don't settle for just
                existing. Ignite your financial freedom with Ntokozo Consult. Contact us today and take the first step
                towards a brighter financial future!
              </p>
            </div>
          </div>
          <a href="/ContactUS" class="btn btn-primary">Contact us</a>
        </div>
      </div>
    </section>
    <!-- Process - Article section -->
    <section class="white-section">
      <h3 class="subheading1Serv">Our success steps</h3>
      <h4 class="big-headingServ1">The progression you can take towards success!</h4>
      <div class="row row-cols-md-6 row-cols-sm-12">
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="card">
            <img class="timeline-icons" src="images/ICONS/silver-star.png" class="card-img-top" alt="Silver Member">
            <div class="card-body">
              <h5 class="card-title">Silver Member</h5>
              <ul class="c-about">
                <li>Trading Basics</li>
                <li>Trading Psychology</li>
                <li>Mentorship</li>
                <li>VIP Strategy Training</li>
                <li> Training</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="card">
            <img class="timeline-icons" src="images/ICONS/gold-star.png" class="card-img-top" alt="Gold Member">
            <div class="card-body">
              <h5 class="card-title">Gold Member</h5>
              <ul class="c-about">
                <li>Silver Benefits</li>
                <li>Semi auto tools</li>
                <li>Tech Support</li>
                <li>Extra Signals</li>
                <li>EA Skills</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="card">
            <img class="timeline-icons" src="images/ICONS/platinum.png" class="card-img-top" alt="Platinum Member">
            <div class="card-body">
              <h5 class="card-title">Platinum Member</h5>
              <ul class="c-about">
                <li>Gold benefits</li>
                <li>4 one-on-one session P.A</li>
                <li>VIP</li>
                <li>Personilised service</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="card">
            <img class="timeline-icons" src="images/ICONS/Partner.png" class="card-img-top" alt="Partner Member">
            <div class="card-body">
              <h5 class="card-title">Partnership Program</h5>
              <ul class="c-about">
                <li>Daily commission</li>
                <li>Bonuses</li>
                <li>Sponsorships</li>
                <li>Gifts</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      
      <a href="/About" class="btn btn-primary">About us</a>
    </section>

    <%- include("./Partials/footer") %>