
  <%- include("./Partials/Header") %>
  <title>Barista101 &#8211; Home</title>
  <!--Absolute SEO*-->
  <meta name="description" content="Learn from expert Barista101s with over 30 years of experience. Our one-day course covers everything needed to make delicious espresso-based drinks. We use only the best products to ensure success. Upon completion, receive a Certificate of attendance and confidence to apply for top jobs. Join us and master the art of espresso-based coffee. Learn more now!">
  <meta name="keywords" content="Certificate of attendance, Barista, Barista101">
  <meta name="robots" content="index, follow" />
<!--Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-214016625-1">
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-214016625-1');
</script>
</head>

<body>

		 <!-- Title -->
	<section class="colored-section-t" id="title">
    
     <!-- Nav Bar -->
     <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/About">BARISTA101</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active " id="Home" href="/Home">Home</a><!-- need to configure home link -->
            </li>
            <li class="nav-item">
              <a class="nav-link"  id="About" href="/About">Other Services</a>
            </li>
            <li class="nav-item">
              <a  class="nav-link" id="Contact" href="/ContactUS" >Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
 <!-- Absolute Online -->
		<div class="container-fluid">
		  <div class="row r-t">
        <div class="col-lg-12 col-md-12" style="width: 60%; margin-left: auto; margin-right: auto;" >
          <img class="title-image" src="images/ICONS/png/logo-white.png" alt="Art" title="Art">
        </div>
			<div class="col-lg-12 col-md-12 title-content">
        <div class="title-container"> 
          <P class="subheading1">JOIN US AND LEARN THE ART OF MAKING AN AWESOME ESPRESSO-BASED COFFEE.</P>
          <h1 class="big-heading">Welcome to our Barista101 Training Academy.</h1>
          <!-- <P class="subheading">Building unique websites that allow you to take your business online while utilizing the most up-to-date technology available on the market to help your company prosper.</P> -->
          <a type="button" href="/ContactUS"Contact class="btn btn-primary">learn more</a>
        </div>			 
			</div>
			
		  </div>
		</div>
	  </section>
 

  <!-- About section -->
  
  <section class="colored-section">
      <h1 class="subheading1Serv-Y">About us</h1>
      
      <div class="row">
        <div class="col-lg-4 col-sm-12">
          <div class="card c-about">
            <div class="card-body">
              <h2 class="big-headingServ1-Y">Excellence</h2>
                <p class="subheadingServ-Y">Excellence in coffee making.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-12">
          <div class="card c-about">
            <div class="card-body">
              <h1 class="big-headingServ1-Y">Confidence</h1>
                <p class="subheadingServ-Y">Confidence building for trainees.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-12">
          <div class="card c-about">
            <div class="card-body">
              <h2 class="big-headingServ1-Y">Recognition</h2>
              <p class="subheadingServ-Y">Recognition and certification for completion of course.</p>
            </div>
          </div>
        </div>
        </div>
        <p class="subheading1-Y">learn more about our vision, objective, and purpose.</p>
        <a type="button" href="/About" class="btn btn-primary">learn more</a>
  </section>

      <!-- Services section -->
      <section class="white-section">
        <h1 class="subheadingbody">Brands</h1>
          <div class="row">
            <div class="col-lg-5 col-md-6 col-sm-12">
              <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col-md-6 col-sm-6">
                  
                  <div class="philCard card card-d">
                    <img src="images/Products/EspressoRoma.jpg" class="card-img-top" alt="Espresso Roma" id="service">
                    <div class="card-body">
                      <h5 class="card-title">Espresso Roma</h5>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6">
                  <div class="philCard card card-d">
                    <img src="images/Products/MeltdCaramels.jpg" class="card-img-top" alt="Melt'd Caramels" id="service">
                    <div class="card-body">
                      <h5 class="card-title">Melt'd Powders</h5>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6">
                  <div class="philCard card card-d">
                    <img src="images/Products/Equiserve Cofffee.jpg" class="card-img-top" alt="..." id="service">
                    <div class="card-body">
                      <h5 class="card-title">New or Used</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <div class="col-lg-7 col-md-6 col-sm-12">
            <div class="card bg-transparent">
              <div class="card-body serv">
                <p class="subheading1Serv">Introducing the Barista101 Training Academy!</p>
                <h2 class="big-headingServ1">All the skills that matter.</h2>
                <h3 class="big-headingServ2">All the skills you need.</h3>
                <p class="subheadingServ" style="font-weight: bold;">Learn from expert Barista's with over 30 years of experience. Our one-day course covers everything needed to make delicious espresso-based drinks. We use only the best products to ensure success. Upon completion, receive a Certificate of attendance and confidence to apply for top jobs. Join us and master the art of espresso-based coffee. Learn more now!</p>
                <a href="/About" class="btn btn-primary">Learn more</a>
              </div>
            </div>
          </div>
          </div>
    </section>
    <!-- Video section and letter -->
    <section class="colored-section"> 
      <p class="subheading1Serv-Y">Planning for every possible outcome.</p>
      <div class="row">
        <div class="col-lg-12 col-md-12" style="width: 100%; margin-left: auto; margin-right: auto;" >
			  <img class="title-image" src="Videos/Coffee.png" alt="Art" title="Art">
			</div>
        <div class="col-lg-12 col-sm-12">
          <div class="card bg-transparent">
            <div class="card-body">
              <h3 class="subheading1Serv-Y">A letter from us to you!</h3>
              <h4 class="big-headingServ1-Y">We take pride in each of our trainees.</h4>
              <p class="subheadingServ letterMalig" style="color:#17201B;">We are passionate about our work as a Barista101 training academy, and we hope that our dedication to providing the highest quality training inspires you to take advantage of our services. Understanding the art of making great coffee is not easy, but the knowledge and skills you will gain by attending our course will undoubtedly result in a confident and skilled Barista. In an industry that is constantly evolving, it's essential to stay ahead of the latest trends and techniques. We believe that by working together, we can help you and your business reach new heights and achieve growth in the competitive coffee industry. So, our commitment is to create an elegant and powerful training program that will help you to stay ahead of the ever-changing industry.</p>
              <a href="/ContactUS" class="btn btn-primary">Contact us</a>
            </div>
          </div>
        </div>
      </div>
    </section>
   <!-- Process - Article section -->
   <section class="white-section" >
    <h3 class="subheading1Serv">Our Philosophy</h3>
    <h4 class="big-headingServ1">The Art of Making Great Coffee</h4>
    <div class="row row-cols-md-6 row-cols-sm-12">
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="philCard card">
          <img class="timeline-icons" src="images/ICONS/learning.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title close">Learn</h5>
            <p class="subheadingServ">Our one day basic Barista101 course will teach you everything you need to know about making great coffee</p>
            <a href="/About" class="btn btn-primary">About</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="philCard card">
          <img class="timeline-icons" src="images/ICONS/latte-art.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title close">Practice</h5>
            <p class="subheadingServ">We use the best products to help our Barista101's become the best, such as Espresso Roma coffee and Melt'd powders products.</p>
            <a href="/About" class="btn btn-primary">About</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="philCard card">
          <img class="timeline-icons" src="images/ICONS/certification.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title close">Certification</h5>
            <p class="subheadingServ">We provide a Certificate of attendance for our course, boosting our Barista101's confidence for coffee positions.</p>
            <a href="/About" class="btn btn-primary">About</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="philCard card ">
          <img class="timeline-icons" src="images/ICONS/waiter.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title close">Serve</h5>
            <p class="subheadingServ">With over 30 years experience, we are keen to impart our knowledge to train the next generation of Barista101s.</p>
            <a href="/About" class="btn btn-primary">About us</a>
          </div>
        </div>
      </div>
    </div>
  </section>
 
  <%- include("./Partials/footer") %>
