<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <meta name="robots" content="index, follow" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Barista101 &#8211; Email sent!</title>
  <link rel="icon" href="images/rocket.png" type="image/gif" sizes="16x16">
  <script src="https://bootstrapcreative.com/wp-bc/wp-content/themes/wp-bootstrap/codepen/bootstrapcreative.js?v=1"></script>
  
  <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css'>

  
  
</head>

<body>

  <div class="jumbotron text-xs-center">
  <h1 class="display-3">Thank You!</h1>
  <p class="lead">Your email has been sent. <strong>We will get back to you shortly.</strong>
  <hr>
  <p>
    Missed our services? <a href="/Services" style="color: #48A3C8">Click here</a>
  </p>
  <p class="lead" style="color: #48A3C8">
    <a class="btn btn-primary btn-sm" href="/Home" role="button">Continue to homepage</a>
  </p>
</div>

  

</body>

</html>